<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
</head>
<body>

    <form method="post" action="/cadastroChamada">
        <label>Data</label>
        <input type="datetime-local" name="data">
        <p></p>

        <label>Titulo</label>
        <input type="text" name="titulo">
        <p></p>

        <label>Usuario</label>
        <input type="text" name="usuario">
        <p></p>

        <label>Descrição</label>
        <input type="text" name="descricao">
        <p></p>

        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>