<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuário</title>
</head>
<body>

    <form method="post" action="/cadastroUsuario">

        <div th:id="${usuarioAntigo}">
            <input type="hidden" name="id" th:value="${usuarioAntigo?.id}">
        </div>


        <label>Nome</label>
        <input type="text" name="nome" th:value="${usuarioAntigo?.nome}">
        <p></p>

        <label>Usuario</label>
        <input type="text" name="login" th:value="${usuarioAntigo?.login}">
        <p></p>

        <label>Senha</label>
        <input type="password" name="senha" th:value="${usuarioAntigo?.senha}">
        <p></p>

        <label>CPF</label>
        <input type="text" name="cpf" th:value="${usuarioAntigo?.cpf}">
        <p></p>

        <div th:each="tipo : ${tipos}">
            <label>
                <input type="radio" name="tipo" th:name="tipo" th:value="${tipo.id}"> <span th:text="${tipo.descricao}"></span>
            </label>
        </div>
        


        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>