<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
</head>
<body>

    <form method="post" action="/cadastroChamada">
        <label>Data</label>
        <input type="date" name="data">
        <p></p>

        <label>Titulo</label>
        <input type="text" name="titulo">
        <p></p>

        <label>Produto</label>
        <select name="produto" id="produto">
            <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nomeProduto}"></option>
        </select>
        <p></p>

        <label>Fila</label>
        <select name="fila" id="fila">
            <option th:each="fila : ${filas}" th:value="${fila.id}" th:text="${fila.descricao}"></option>
        </select>
        <p></p>

        <label>Usuario</label>
        <input type="text" name="user">
        <p></p>

        <label>Descrição</label>
        <input type="text" name="descricao">
        <p></p>

        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>