<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuário</title>
</head>
<body>

    <form method="post" action="/cadastroUsuario">
        <label>Nome</label>
        <input type="text" name="nome">
        <p></p>

        <label>Usuario</label>
        <input type="text" name="user">
        <p></p>

        <label>Senha</label>
        <input type="password" name="senha">
        <p></p>

        <label>CPF</label>
        <input type="text" name="cpf">
        <p></p>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>