<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">Senha</th>
            <th scope="col">CPF</th>
          </tr>
        </thead>
        <tbody>
            <tr data-th-each="usuarios: ${usuario}" data>
                <td data-th-text="${usuarios.id}"></td>
                <td data-th-text="${usuarios.nome}"></td>
                <td data-th-text="${usuarios.login}"></td>
                <td data-th-text="${usuarios.senha}"></td>
                <td data-th-text="${usuarios.cpf}"></td> 
                <td><a th:href="@{'/cadastroUsuario/excluir/'+${usuarios.id}}">Excluir</a></td>
                <td><a th:href="@{'/cadastroUsuario/editar/'+${usuarios.id}}">Editar</a></td>
            </tr>              
        </tbody>        
      </table>

      <p></p>
      <p></p>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Fila</th>
            <th scope="col">Produto</th>
            <th scope="col">Usuario</th>
            <th scope="col">Descricao</th>
            <th scope="col">Titulo</th>
          </tr>
        </thead>
        <tbody>
            <tr data-th-each="chamados: ${chamados}" data>
                <td data-th-text="${chamados.id}"></td>
                <td data-th-text="${chamados.data}"></td>
                <td data-th-text="${chamados.fila}"></td>
                <td data-th-text="${chamados.produto}"></td>
                <td data-th-text="${chamados.usuario}"></td>
                <td data-th-text="${chamados.descricao}"></td>
                <td data-th-text="${chamados.titulo}"></td>   
            </tr>              
        </tbody>        
      </table>      
    
</body>
</html>