<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Usuário</th>
            <th scope="col">Senha</th>
            <th scope="col">CPF</th>
          </tr>
        </thead>
        <tbody>
            <tr data-th-each="usuarios: ${usuario}" data>
                <td data-th-text="${usuarios.id}"></td>
                <td data-th-text="${usuarios.nome}"></td>
                <td data-th-text="${usuarios.usuario}"></td>
                <td data-th-text="${usuarios.senha}"></td>
                <td data-th-text="${usuarios.cpf}"></td> 
                <td><a th:href="@{'/excluir/'+${usuarios.id}}">Excluir</a></td>
                <td><a th:href="@{'/editar/'+${usuarios.id}}">Editar</a></td>
            </tr>              
        </tbody>        
      </table>      
    
</body>
</html>