<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    <h1>Pagina Principal</h1>
    <a href="/cadastroUsuario">Cadastro de Usuario</a><p></p>
    <a href="/listaUsuario">Lista de Usuario</a><p></p>
    <a href="/cadastroFila">Cadastro de Fila</a><p></p>
    <a href="/loginUsuario">Login de Usuario</a><p></p>
    <a href="/cadastroProduto">Cadastro de Produto</a><p></p>
    <a href="/cadastroChamada">Cadastro de Chamada</a><p></p>
</body>
</html>